html{
    font-size: 62.5%;
}
body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #fcfcfc;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
/*---contact---*/
/**--コンタクト--**/
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.clear{
    clear: both;
}


.heading{
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    background: #272727;
    color: #ffffff;
    height: 44px;
    line-height: 44px;
    width: 100%;
    font-weight: 700;
}

.contact{
    background: #fcfcfc;
    color: #272727;
    padding: 16px;
}

.contact p{
    font-size: 1.2rem;
    line-height: 24px;
}


.contact__form{
    background: #ffffff;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    margin-top: 24px;
    margin-bottom: 36px;
}


.contact_name{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    font-size: 1.2rem;
    padding-left: 16px;
    margin-top: 12px;
    margin-bottom: 24px;
    box-shadow: 0 0px 4px rgba(0,0,0,0.20) inset;
}

.contact_email{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    font-size: 1.2rem;
    padding-left: 16px;
    margin-top: 12px;
    margin-bottom: 24px;
    box-shadow: 0 0px 4px rgba(0,0,0,0.20) inset;
}


.contact_message{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 160px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    font-size: 1.2rem;
    padding: 16px;
    margin-top: 12px;
    margin-bottom: 24px;
    box-shadow: 0 0px 4px rgba(0,0,0,0.20) inset;
}


input[type="submit"]
{
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="submit"]
{
    border: none;
    font-size: 1.8rem;
    background: #272727;
    color: #ffffff;
    border-radius: 10px;
    width: 280px;
    height: 44px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


.wpcf7-validation-errors {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: #E53935;
    padding:20px !important;
    margin:0px auto;
    border: none !important;
}


.wpcf7-mail-sent-ok {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    background-color:#272727;
    padding:20px !important;
    margin:0px auto;
    border: none !important;
}




@media screen and (min-width:480px) {

}
@media screen and (min-width:768px) and (max-width:1024px) {

}
@media screen and (min-width:1024px) {
    .heading{
        font-weight: bold;
        font-size: 2.5rem;
        text-align: left;
        background: none;
        color: #272727;
        height: 36px;
        line-height: 36px;
        padding: 16px;
        width: auto;
        margin-left: 88px;
        margin-right: 88px;
        margin-top: 48px;
        border-bottom: 3px solid #272727;
    }
    .contact{
        background: #fcfcfc;
        padding-left: 188px;
        padding-right: 188px;
        padding-top: 32px;
    }

    .contact p{
        font-size: 1.8rem;
        line-height: 36px;
    }
    .contact__form{
        background: #ffffff;
        border-radius: 15px;
        padding: 32px;
        padding-left: 88px;
        padding-right: 88px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        margin-top: 24px;
        margin-bottom: 36px;
    }


    .contact_name{
        width: 100%;
        height: 44px;
        font-size: 1.5rem;
    }

    .contact_email{
        width: 100%;
        height: 44px;
        font-size: 1.5rem;
    }


    .contact_message{
        width: 100%;
        height: 180px;
        font-size: 1.5rem;
    }



    input[type="submit"]
    {
        border: none;
        font-size: 1.8rem;
        background: #272727;
        color: #ffffff;
        border-radius: 20px;
        width: 320px;
        height: 44px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

}
