/*　モバイル（iPhone,Android）に関するCSSを記述する*/
.wrap-col{
    height: auto;
    position:relative;
    width: 100%;
}

.random {
    padding: 0 0 32px 0;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.random_grid {
    margin: 0 auto;
}
.random_grid li {
    display: inline-block;
    width: 87%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0px rgba(0,0,0,0.26);
    border-radius: 8px;
    margin: 32px 16px 0 16px;
}

.random_grid a{
    text-decoration: none;
}

.random_grid li:hover{
    box-shadow: 0 2px 10px 2px rgba(0,0,0,0.26);
    transition: 0.1s;
}
.random_icon {
    position: relative;
    width:100%;
    height:236px;
    margin-bottom: 16px;
    border-radius: 8px 8px 0 0 / 8px 8px 0 0;
}

.random_content{
    position: relative;
    width: 100%;
    height: auto;
}

.random_tags_parent{
    position:relative;
    display: inline-block;
    height: auto;
    width: 100%;
    font-size: 1.2rem;
    color: #031e36;
    text-align: left;
    padding: 0 0 0 16px;
}

.random_name {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 0 0 0 16px;
    text-align: left;
    font-size: 2.4rem;
    font-family: "ヒラギノ角ゴ ProN W6","ヒラギノ角ゴ Pro W6";
    color: #272727;
    margin-bottom: 15px;
}


.random_description {
    position:relative;
    display: inline-block;
    white-space: nowrap;
    width: 87%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    color: #031e36;
    padding: 16px 16px 16px 16px;
    text-align: left;
    font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ ProN W3";
}

/*スラッグがクラス名になる*/
.sports,.evevt,.social-activity,.hobby{
    margin: 0 2% 0 0;
    font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ ProN W3";
}
.sports i{
    color: #E63C6E;
}
.event i{
    color: #5AC8DC;
}
.social-activity i{
    color: #FAC81E;
}
.hobby i{
    color: #78C850;
}
.no-genre i{
    color: #272727;
}
@media screen and (min-width:480px) {
    /*　モバイル（iPhone,Android）を傾けたときのCSSを記述する*/

}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　iPadのCSSを記述する*/
}
@media screen and (min-width:1024px) {
    /*　PC用のCSSを記述する　*/
    .wrap-col{
        height: auto;
        position:relative;
    }


    .random {
        padding: 0 0 32px 0;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .random_grid {
        margin: 0 auto;
    }
    .random_grid li {
        display: inline-block;
        width: 343px;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0 2px 10px 0px rgba(0,0,0,0.26);
        border-radius: 8px;
        margin: 32px 16px 0 16px;
    }

    .random_grid a{
        text-decoration: none;
    }

    .random_grid li:hover{
        box-shadow: 0 2px 10px 2px rgba(0,0,0,0.26);
        transition: 0.1s;
    }
    .random_icon {
        position: relative;
        width:100%;
        height:236px;
        margin-bottom: 16px;
        border-radius: 8px 8px 0 0 / 8px 8px 0 0;
    }

    .random_content{
        width: 100%;
        height: auto;
    }

    .random_tags_parent{
        position:relative;
        width: 100%;
        font-size: 1.2rem;
        color: #031e36;
        text-align: left;
        padding: 0 0 0 16px;
    }

    .random_name {
        position: relative;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 0 0 0 16px;
        text-align: left;
        font-size: 2.4rem;
        font-family: "ヒラギノ角ゴ ProN W6","ヒラギノ角ゴ Pro W6";
        color: #272727;
        margin-bottom: 15px;
    }


    .random_description {
        position:relative;
        white-space: nowrap;
        width: 87%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        font-size: 1.4rem;
        color: #031e36;
        padding: 16px 16px 16px 16px;
        text-align: left;
        font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ ProN W3";
    }
}

