
/*clearfix*/
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.clear{
    clear: both;
}




/*Wordpress管理バーの位置がズレる対策*/
@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed!important;
    }
}

@media screen and (min-width: 980px) {
    header{
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        position: relative;
        height: 90px;
    }

    .nav{
        font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";
        font-size: 1.5rem;
        float: left;
    }

    .nav .pic{
        height: 70px;
        display: block;
        padding: 10px;
        margin-left: 50px;
    }

    .menu{
        float: right;
        margin-right: 80px;
        margin-top: 40px;
    }


    .menu-list {
        overflow:hidden;
    }

    .menu-list li{
        float: left;
    }

    .menu-list-home{
        height: 41px;
        width: 130px;
        display: block;
        background: url(../img/home.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu-list-about{
        height: 41px;
        width: 130px;
        display: block;
        background: url(../img/about.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu-list-contact{
        height: 41px;
        width: 130px;
        display: block;
        background: url(../img/contact.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu-btn{

    }

    .tooltip-btn{

    }

    .search-tag-sport{
        height: 40px;
        width: 115px;
        display: block;
        background: url(../img/cat1.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .search-tag-social{
        height: 40px;
        width: 115px;
        display: block;
        background: url(../img/cat2.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .search-tag-hobby{
        height: 40px;
        width: 115px;
        display: block;
        background: url(../img/cat3.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .search-tag-event{
        height: 40px;
        width: 115px;
        display: block;
        background: url(../img/cat4.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .search{
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        position: relative;
        height: 60px;
    }

    .search-tag {
        margin-left: 60px;
    }

    .search-tag li{
        margin-top: 10px;
        float: left;
        padding-right: 10px;
    }

    /*検索キーワードボックス*/
    .searchform {
        width: 250px;
        background: url(../img/searchbox.png) left top no-repeat;
        display: block;
        height: 58px;
        -webkit-background-size: 100%;
        background-size: 100%;
        position: absolute;
        top: 2px;
        right: 80px;
    }
    .keywords  {
        width: 200px;
        height: 30px;
        position: absolute;
        top: 12px;
        left: 15px;
        border: 1px solid #FFF;
    }

    input {
        font-size: 100%;
    }
    .searchBtn {
        position: absolute;
        width: 30px;
        top: 12px;
        right: 20px;
    }

}
@media screen and (max-width: 979px) {

    header{
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        position: relative;
        height: 50px;
    }

    .nav{
        font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";
        font-size: 1.5rem;
        width: 100%;
    }

    .nav .pic{
        height: 40px;
        display: block;
        padding: 5px;
        margin: 0 auto;
    }

    #menu,#search{
        color: #fff;
        background-color: #333333;
    }

    .menu-btn{
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 40px;
        display: block;
        background: url(../img/ham.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
        margin: 5px;
    }

    .tooltip-btn{
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        width: 40px;
        display: block;
        background: url(../img/search.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
        margin: 5px;
    }

    .menu-list-home{
        height: 41px;
        width: 130px;
        display: block;
        background: url(../img/home_w.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu-list-about{
        height: 41px;
        width: 130px;
        display: block;
        background: url(../img/about_w.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu-list-contact{
        height: 41px;
        width: 130px;
        display: block;
        background: url(../img/contact_w.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu-list-twiiter{
        height: 41px;
        width: 130px;
        display: block;
        background: url(../img/twiiter_w.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

}


/*フッター*/

footer{
    font-family: "Helvetica Neue", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';
    font-weight: 400;
    background-color: #031E36 ;
    color: #ffffff;
}

footer p{
    padding: 15px 0;
    text-align: center;
    font-size: 1rem;
}

.footer_nav{
    width: 90%;
    margin: 0 auto;
}

.footer_nav .footer_nav-main{
    display: flex;
    justify-content : flex-end;
}

.footer_nav .footer_nav-main li{
    width: 140px;
    padding: 25px 0 7px 0 ;
    text-align: center;
    margin-bottom: 20px;
}

.footer_nav .footer_nav-main a {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
}

.footer_nav-policy{
    float: right;
    margin-bottom: 20px;
}

.footer_nav .footer_nav-policy li{
    padding: 2px 0px;
    text-align: right;
    margin-bottom: 15px;
}

.footer_nav .footer_nav-policy li a{

    color: #fff;
    font-size: 0.5rem;
    text-decoration: none;
}

.copyright{
    font-family: "Helvetica Neue", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    background: black;
}
