/*clearfix*/

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.clear {
    clear: both;
}

.clearText {
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}


/*Wordpress管理バーの位置がズレる対策*/
@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed!important;
    }
}

@media screen and (min-width: 980px) {



    header{
        text-align: center;
        background-color: #ffffff;
        position: static;
        height: 90px;
        z-index: 4;
    }

    .header_nav{
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .header_nav .header_nav-logo{
        height: 50px;
        display: block;
        padding: 10px;
        padding-top: 30px;
        padding-left: 20px;
        margin-left: 50px;
    }

    .menu_side{
        float: right;
        position: static;
        margin-right: 80px;
        margin-top: 40px;
        z-index: 5;
    }


    .menu_side-list {
        overflow:hidden;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
    }

    .menu_side-list li{
        float: left;
    }

    .menu_side-list li a{
        height: 41px;
        width: 80px;
        display: flex;
        text-decoration: none;
        font-size: 1.8rem;
        padding-top: 8px;
        color: #272727;
        transition: 0.2s;
        -webkit-transition: 0.2s;
    }

    .menu_side-list li a:hover{
        color: #BDBDBD;
    }
/*
    .menu_side-list li a:link,.menu_side-list li a:visited{

    }
*/
/*

    .menu_side-list-homeImg{
        margin-top: -5px;
        margin-right: 8px;
        height: 30px;
        width: 30px;
        background: url(../img/home.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu_side-list-aboutImg{
        margin-top: -5px;
        margin-right: 8px;
        height: 30px;
        width: 30px;
        background: url(../img/about.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu_side-list-contactImg{
        margin-top: -5px;
        margin-right: 8px;
        height: 30px;
        width: 30px;
        background: url(../img/contact.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
*/
    input::-webkit-input-placeholder { color:transparent; }
    input::-moz-placeholder { color:transparent; }
    input::-moz-placeholder { color:transparent; }

    .menu_side-list .menu_side-list-twitter{
        display: none;
    }

    .menu_search-list li:nth-child(1){
        display: none;
    }

    .menu_search-list li:nth-child(3){
        display: none;
    }

    .menu_search-list li a{
        height: 36px;
        width: 115px;
        display: block;
        font-family:'Noto Sans', sans-serif;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.6rem;
        padding: 7px;
        color: #272727;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }
    .menu_search-list li a:hover{
        color: #bdbdbd;
    }



    .menu_search-tag-sport i{
        color: #D73E6A;
        font-size: 24px;
        margin-right: 8px;
    }

    .menu_search-tag-social i{
        color: #F0C22B;
        font-size: 24px;
        margin-right: 8px;
    }

    .menu_search-tag-hobby i{
        color: #76BE54;
        font-size: 24px;
        margin-right: 8px;
    }

    .menu_search-tag-event i{
        color: #5BBED1;
        font-size: 24px;
        margin-right: 8px;
    }

    .menu_search{
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        position: relative;
        height: 60px;
    }


    .menu_search-list {
        margin-left: 50px;
    }

    .menu_search-list li{
        margin-top: 10px;
        float: left;
        padding-right: 10px;
    }

    /*検索キーワードボックス*/
    .menu_search-form {
        width: 250px;
        background: url(../img/searchbox.png) left top no-repeat;
        display: block;
        height: 58px;
        -webkit-background-size: 100%;
        background-size: 100%;
        position: absolute;
        top: 2px;
        right: 80px;
    }
    .menu_search-keywords  {
        width: 190px;
        height: 30px;
        position: absolute;
        top: 12px;
        left: 18px;
        border: 1px solid #FFF;
        font-weight: 700;
    }


    .menu_searchBtn {
        position: absolute;
        width: 30px;
        top: 12px;
        right: 20px;
    }

    .menu_search-keywords{
    }



}

@media screen and (max-width: 979px) {


    /* サイドオープン時にメインコンテンツを覆う部分 */
    .overlay {
        content: '';
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0);
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        z-index: 4;
    }

    .side-open .overlay {
        visibility: visible;
    }


    /* サイドメニュー ※リストのスタイルは省略 */
    .menu_side {
        position: fixed;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        height: 100%;
        background: #333333;
        color: #fff;
        z-index: 1;
        display: none;
    }

    /* メインコンテンツ */
    .header_wrapper {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        background: #F8F8F8;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        z-index: 2;
        padding-top:50px;
    }


    /* サイドメニューオープン */
    .side-open .header_wrapper,
    .side-open .overlay,
    .side-open header{
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
    }

    header{
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        position: fixed;
        top: 0;
        height: 50px;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        width: 100%;
        z-index: 100;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }

    /*ヘッダーロゴ*/

    .header_nav .header_nav-logo{
        height: 40px;
        display: block;
        padding: 5px;
        margin: 0 auto;
    }


    /*ヘッダーボタン*/

    .header_nav-menuBtn{
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 40px;
        display: block;
        background: url(../img/ham.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
        margin: 5px;
    }

    .header_nav-searchBtn{
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        width: 40px;
        margin: 5px;
        display: block;
        background: url(../img/search.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .header_nav .is-clicked{
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        width: 40px;
        margin: 5px;
        display: block;
        background: url(../img/searchClose.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }


    .menu_search-list li a{
        height: 36px;
        width: 115px;
        display: block;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        text-decoration: none;
        font-size: 18px;
        padding-top: 7px;
    }

    .menu_search-list li a:link,.menu_search-list li a:visited{
        color: #ffffff;
    }

    .menu_search-tag-sport i{
        color: #D73E6A;
        font-size: 24px;
        margin-right: 8px;
    }

    .menu_search-tag-social i{
        color: #F0C22B;
        font-size: 24px;
        margin-right: 8px;
    }

    .menu_search-tag-hobby i{
        color: #76BE54;
        font-size: 24px;
        margin-right: 8px;
    }

    .menu_search-tag-event i{
        color: #5BBED1;
        font-size: 24px;
        margin-right: 8px;
    }

    .menu_search-logo{
        margin: 40px auto 10px auto;
        display: block;
        font-family: 'Nunito',sans-serif;
        font-weight: 700;
        text-align: center;
        color: #ffffff;
        font-size: 3.2rem;
        letter-spacing: 4px;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu_search{
        background-color: #ffffff;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        position: relative;
        height: 60px;
    }

    .menu_search-list li:nth-child(2){
        height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;


    }

    .menu_search-list li:nth-child(3){
        background: #1E1E1E;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 7%;
        color: #ffffff;
        font-size: 1.3rem;

    }

    .menu_search-list li:nth-last-child(-n+4){
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 7%;
        border-bottom: solid 1px #272727;

    }

    .menu_searchBtn{
        display: none;
    }

    /*    検索キーワードボックス*/

    form, input {
        margin: 0; /* マージンをリセット */
    }
    .menu_search-form {
        position: relative; /* 基準位置とする */
        width: 100%;
    }
    .menu_search-keywords {
        background-color: #1E1E1E;
        border: 0;
        height: 40px; /* 高さ40px */
        width: 86%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0.4%;
        color: #ffffff;
        font-size: 16px;
        padding-left: 10px;
    }


    .cd-primary-nav {
        /* by default it's hidden - on top of the viewport */
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #333333;
        z-index: 2;
        padding: 50px 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        overflow: auto;
        /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    .cd-primary-nav.is-visible {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    /*メニューリスト*/

    .menu_side-list{
        list-style: none;
        padding-left: 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
    }

    .menu_side-list li{
        border-bottom: solid 1px #272727;

    }

    .menu_side-list li .menu_side-list-logo{
        background: url(../img/logo_white.png) no-repeat left top;
        height: 44px;
        width: 130px;
        display: block;
        -webkit-background-size: 100%;
        background-size: 100%;
        margin: 0 auto;
        margin-top: 6px;
    }

    .menu_side-list li a{
        height: 37px;
        width: 130px;
        display: flex;
        text-decoration: none;
        font-size: 1.8rem;
        letter-spacing: 2px;
        line-height: 24px;
        padding-top: 12px;
        margin-left: 15px;
    }

    .menu_side-list li:first-child{
        height: 44px;
    }

    .menu_side-list li a:link,.menu_side-list li a:visited{
        color: #ffffff;
    }

    .menu_side-list-homeImg{
        margin-top: -4px;
        margin-right: 8px;
        height: 30px;
        width: 30px;
        background: url(../img/home_w.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu_side-list-aboutImg{
        margin-top: -4px;
        margin-right: 8px;
        height: 30px;
        width: 30px;
        background: url(../img/about_w.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu_side-list-contactImg{
        margin-top: -4px;
        margin-right: 8px;
        height: 30px;
        width: 30px;
        background: url(../img/contact_w.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }

    .menu_side-list-twitterImg{
        margin-top: -4px;
        margin-right: 8px;
        height: 30px;
        width: 30px;
        background: url(../img/twitter_w.png) no-repeat left top;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
}

/*フッター*/


/*モバイル(iPhone,Android)に関するCSSを記述する*/

footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito','Noto Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #fff;
    color: #bdbdbd;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.12);
    height: 160px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

footer a {
    height: 44px;
}

.footer__nav {
    width: auto;
    margin: 0 auto;
}

.footer__nav .footer__nav__main {
    display: flex;
    justify-content: center;
}


.footer__nav .footer__nav__main li {
    text-align: center;
}


.footer__nav .footer__nav__main a {
    display: inline-block;
    height: 44px;
    color: #bdbdbd;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 15px;
}

.footer_icon{
    font-size: 1.8rem;
    margin-right: 4px;
}


.footer__nav__policy {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.footer__nav .footer__nav__policy li {
    padding: 8px;
    text-align: center;
}

.footer__nav .footer__nav__policy li a {
    display: inline-block;
    height: 32px;
    color: #bdbdbd;
    font-size: 1.2rem;
    text-decoration: none;
}

.footer__nav .footer__nav__policy li a {
    display: inline-block;
    height: 32px;
    color: #bdbdbd;
    font-size: 1.2rem;
    text-decoration: none;
}
.footer_size{
    font-size: 1.6rem;
}
.copyright {
    text-align: center;
    font-size: 2.0rem;
    font-family: 'Nunito','Noto Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-size: 1rem;
}

.footer__nav .footer__nav__main li:first-child {
    display: none;
}
.footer__nav .footer__nav__policy li:first-child {
    display: none;
}

.verticalLine{
    background-color:#bdbdbd;
    width:2px;
    height:28px;
    border-radius: 1px;
    margin-right: 5px;
    margin-left: 10px;
}
.privacy{
    padding-right: 0px;
}


@media screen and (min-width:480px) {
    /*モバイル(iPhone,Android)を傾けたときのCSSを記述する*/
}

@media screen and (min-width:768px) and (max-width:1024px) {
    /*iPadのCSSを記述する*/
}

@media screen and (min-width:1024px) {
    /*PC用のCSSを記述する*/
    footer{
        padding-left: 52px;
        padding-right: 52px;
        margin-top: 64px;
    }
    .footer__nav .footer__nav__main {
        justify-content: flex-end;
    }

    .footer__nav .footer__nav__main li {
        margin-right: 0px;
    }
    .footer__nav .footer__nav__main li:first-child {
        display: block;
        margin-right: auto;
    }
    .footer__nav__policy div{
        display: none;
    }
    .footer__nav__policy {
        display: flex;
        justify-content: flex-end;
        margin-left: 0;
    }
    .footer__nav .footer__nav__policy li:first-child {
        display: block;
        margin-right: auto;
        padding: 0;
    }



}
