html {
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    font-family: "Helvetica Neue","小塚ゴシック";
    background: #EBEFF1;
}


/*home*/
.main_parent{
    text-align: center;
}

/*main*/
.main:after{
    content: ".";
    display: block;
    height: 0;
    font-size:0;
    visibility:hidden;
}

@media screen and (max-width: 636px){

}

