html{font-size:62.5%;}
body{box-sizing:border-box;font-family:'Nunito','Noto Sans', sans-serif;font-weight:400;background:#F9F9F9;}
.main_parent{text-align:center;}
.main:after{content:".";display:block;height:0;font-size:0;visibility:hidden;}
.button{position:relative;display:block;width:64px;height:64px;border-radius:100px;background:#272727;margin:0 auto;margin-top:32px;margin-bottom:64px;}
.button i{color:#ffffff;position:absolute;top:16px;left:20px;font-size:2.4rem;animation-iteration-count:infinite;animation-duration:3s;-webkit-animation-duration:3s;}
.button .ring{background:rgba(39, 39, 39, 0.2);position:absolute;z-index:-1;border-radius:100px;height:64px;width:64px;top:0px;left:0px;}
.button .ring{animation:pulsate 1.5s ease-out;animation-iteration-count:infinite;}
@keyframes pulsate{0%{transform:scale(1, 1);}
50%{opacity:1;}
100%{transform:scale(2, 2);opacity:0.0;}
}
@media screen and (min-width:480px){}
@media screen and (min-width:768px) and (max-width:1024px){}
@media screen and (min-width:1024px){.button{display:none;}
}