html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    font-family: "Helvetica Neue","小塚ゴシック";
    background: #ffffff;
}
/*---policy---*/


.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.clear{
    clear: both;
}

.policy{
    padding: 0;
}

.policy .policy_title{
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";
    font-weight: 100;
    letter-spacing: 0.5rem;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background-color: #000;
    width: 100%;
    padding: 20px;
}

.policy_sentence{
    margin: auto;
    font-size: 1.2rem;
    line-height: 3rem;
    width: 92%;
    letter-spacing: 0.2rem;
    line-height: 4.8rem;
}

.policy_heading{
    font-size: 2rem;
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}

/*　モバイル（iPhone,Android）に関するCSSを記述する*/

@media screen and (min-width:480px) {
/*　モバイル（iPhone,Android）を傾けたときのCSSを記述する*/

}
@media screen and (min-width:768px) and ( max-width:1024px) {
/*　iPadのCSSを記述する*/
.policy{
    margin: auto;
    padding: 16px ;
    width: 100%;
}

  .policy .policy_title{
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";
    letter-spacing: 0.5rem;
    margin-left: 30px;
    margin: 50px;
    font-size: 4rem;
    font-weight: bold;
    text-align:left;
    color: #000;
    background-color: #fff;
    width: 100%;
    padding: 0px;
  }

  .policy_sentence{
      margin: auto;
      font-size: 1.6rem;
      line-height: 3rem;
      width: 92%;
      letter-spacing: 0.2rem;
      line-height: 3.8rem;
  }

  .policy_heading{
      font-size: 3rem;
      margin-left: 30px;
  }
}
@media screen and (min-width:1024px) {
/*　PC用のCSSを記述する　*/
.policy{
    margin: auto;
    padding: 0;
    width: 92%;
}

  .policy .policy_title{
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";
    letter-spacing: 0.5rem;
    margin-left: 30px;
    margin: 50px;
    font-size: 4rem;
    font-weight: bold;
    text-align:left;
    color: #000;
    background-color: #fff;
    width: 100%;
    padding: 0px;
  }

  .policy_sentence{
      margin: auto;
      font-size: 1.6rem;
      line-height: 3rem;
      width: 92%;
      letter-spacing: 0.2rem;
      line-height: 3.2rem;
  }

  .policy_heading{
      font-size: 3rem;
      margin-left: 30px;
  }
}
