html{
    font-size: 62.5%;
}
body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
/*---contact---*/
/**--コンタクト--**/
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.clear{
    clear: both;
}


.heading{
    /*    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";*/
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    background: #272727;
    color: #ffffff;
    height: 44px;
    line-height: 44px;
    width: 100%;
}

.policy{
    background: #ffffff;
    color: #272727;
    padding: 16px;
    padding-bottom: 32px;
}

.policy p{
    font-size: 1.2rem;
    line-height: 24px;
}
.policy h3{
    margin-top: 12px;
    font-size: 1.8rem;
    line-height: 36px;
}

@media screen and (min-width:480px) {

}
@media screen and (min-width:768px) and (max-width:1024px) {

}
@media screen and (min-width:1024px) {
    .heading{
        /*    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", ".HiraKakuInterface-W1";*/
        font-weight: bold;
        font-size: 2.5rem;
        text-align: left;
        background: none;
        color: #272727;
        height: 36px;
        line-height: 36px;
        padding: 16px;
        width: auto;
        margin-left: 88px;
        margin-right: 88px;
        margin-top: 48px;
        border-bottom: 3px solid #272727;
    }
    .policy{
        padding-left: 188px;
        padding-right: 188px;
        padding-top: 32px;
        padding-bottom: 48px;
    }
    .policy p{
        font-size: 1.5rem;
        line-height: 30px;
    }
    .policy h3{
        margin-top: 36px;
        font-size: 2.0rem;
        line-height: 40px;
    }


}
