/*モバイル(iPhone,Android)に関するCSSを記述する*/

/*BEMについて 単語の区切りはキャメルケースで書く blockとelementの関係は__ blockとmodifierの区切りは_ */


html {
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    background: #FFFFFF;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
/*サークルの画像について*/
/*width 375 height 280くらい*/
/* divタグでクリッピングする*/
.imageBox{
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
}
.imageBox img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.container{
    padding: 16px;
}

/*概要！*/
.overview{
    width: 100%;
}

.title__name{
    font-size: 2.8rem;
}
.title__tag{
    margin-top: 12px;
    font-size: 1.2rem;
    color: #a9a9a9;
}

.fa-tags{
    color: #e63c6e;
}

.sns{
    width: 360px;
    margin: 16px auto;
/*    margin-left: 16px;*/


}
.sns__item{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    color: #ffffff;
    width: 98px;
    height: 44px;
    text-align: center;
    border-radius: 5px;
    margin-right: 16px;
}
.sns a{
    font-size: 2.4rem;
    padding-top: 10px;
}

.sns__facebook{
/*    background: gray;*/

    background: #3b5998;
    border-bottom :#404c66 solid 3px

}

.sns__twitter{
/*    background: gray;*/

    background: #55acee;
    border-bottom: #5698cb solid 3px

}

.sns__webpage{
/*    background: gray;*/

    background: #00c300;
    border-bottom: #40ab40 solid 3px

}
/*facebook 3b5998  border-bottom #404c66 solid 3px*/
/*twitter #55acee  border-bottom #5698cb solid 3px*/
/*webpage #00c300  border-bottom #40ab40 solid 3px*/

/*

.chart{
    width: 350px;
    height: 150px;
    background: gray;
    margin: 48px auto 16px;
}
*/

/*コンテンツ*/

.contents h2{
    font-size: 1.8rem;
    width: 300px;
    padding: 20px 3px 10px;
    border-bottom: #5ac8dc solid 2px;
/*    border-bottom-color: #ff656a;*/
/*    border-bottom-color: gray;*/
}



.locationAndDate h2{
    border-bottom: #e63c6e solid 2px;
}

.number h2{
    border-bottom: #78c850 solid 2px;
}

.cost h2{
    border-bottom: #fac81e solid 2px;
}

.contents p{
    font-size: 1.4rem;
    padding-top: 16px;
}


.about p{
    font-size: 1.3rem;
    line-height: 28px;
    letter-spacing: 1px;
}


.shiki{
    width: 300px;
    margin: 0 auto 32px;
}
.shiki img{

}

.contents{
    padding: 16px;
}

.spring{
    margin-top: 32px;
    width: 100px;
    float: left;
}
.summer{
    margin-top: 32px;
    width: 100px;
    float: left;
    margin-left: 80px;
}
.autumn{
    margin-top: 32px;
    width: 100px;
    float: left;
}
.winter{
    margin-top: 32px;
    width: 100px;
    float: left;
    margin-left: 80px;
}





@media screen and (min-width:480px) {
    /*モバイル(iPhone,Android)を傾けたときのCSSを記述する*/
    body{
/*        background: blue;*/
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    /*iPadのCSSを記述する*/

    body{
/*        background: yellow;*/
    }
}
@media screen and (min-width:1024px) {
    /*PC用のCSSを記述する*/
    .imageBox{
        width: 80%;
        height: 600px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }

    .imageBox img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
}
