/*モバイル(iPhone,Android)に関するCSSを記述する*/

/*BEMについて 単語の区切りはキャメルケースで書く blockとelementの関係は__ blockとmodifierの区切りは_ */


html {
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    background: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
/*サークルの画像について*/
/*width 375 height 280くらい*/
/* divタグでクリッピングする*/
.imageBox{
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
}
.imageBox img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
}

.container{
    padding: 16px;
    background: #FFFFFF;
}

/*概要！*/
.overview{
    width: 100%;
}

.title__name{
    font-size: 2.8rem;
    font-weight: 400;
}

.random_tags_parent{
    margin-top: 12px;
    font-size: 1.2rem;
    color: #bdbdbd;
}

.sports i{
    color: #E63C6E;
}
.event i{
    color: #5AC8DC;
}
.social-activity i{
    color: #FAC81E;
}
.hobby i{
    color: #78C850;
}
.no-genre i{
    color: #272727;
}



.sns{
    width: 98%;
    margin: 16px auto;
/*    margin-left: 16px;*/

    display:-webkit-box;/*--- Androidブラウザ用 ---*/
    display:-ms-flexbox;/*--- IE10 ---*/
    display: -webkit-flex;/*--- safari（PC）用 ---*/
    display:flex;
    -webkit-box-pack:justify;/*--- Androidブラウザ用 ---*/
    -ms-flex-pack:justify;/*--- IE10 ---*/
    -webkit-justify-content:space-between;/*--- safari（PC）用 ---*/
    justify-content:space-between;
    webkit-box-lines:multiple;
    -moz-box-lines:multiple;

}



.sns__item{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    color: #ffffff;
    width: 88px;
    height: 44px;
    text-align: center;
    border-radius: 5px;
}
.sns a{
    font-size: 2.4rem;
    padding-top: 10px;
}

.sns__facebook{
/*    background: gray;*/

    background: #3b5998;
    border-bottom :#404c66 solid 3px

}

.sns__twitter{
/*    background: gray;*/

    background: #55acee;
    border-bottom: #5698cb solid 3px

}

.sns__webpage{
/*    background: gray;*/

    background: #4c7393;
    border-bottom: #34526f solid 3px

}
/*facebook 3b5998  border-bottom #404c66 solid 3px*/
/*twitter #55acee  border-bottom #5698cb solid 3px*/
/*webpage #00c300  border-bottom #40ab40 solid 3px*/

/*

.chart{
    width: 350px;
    height: 150px;
    background: gray;
    margin: 48px auto 16px;
}
*/

/*コンテンツ*/
/*

.line{
    display: block;
    width: 60%;
    height: 80px;
    border: 0;
}
.red {
    background-color: #e63c6e;
}
.yellow {
    background-color: #fac81e;
}
.green {
    background-color: #78c850;
}
.blue {
    background-color: #5ac8dc;
}
*/

.line{
    display: none;
}
.contents h2{
    font-size: 1.8rem;
    font-weight: bold;
    width: 150px;
/*    padding: 20px 3px 10px;*/
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 12px;
    line-height: 36px;
    border-left: #5ac8dc solid 4px;
    margin-top: 32px;
}



.locationAndDate h2{
    border-left: #e63c6e solid 4px;
}

.number h2{
    border-left: #78c850 solid 4px;
}

.cost h2{
    border-left: #fac81e solid 4px;
}

.contents p{
    font-size: 1.4rem;
    padding-top: 16px;
    padding-left: 32px;
}

.schedule p{
    padding-left: 0px;
}

.schedule img{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}


.about p{
    font-size: 1.3rem;
    line-height: 28px;
    letter-spacing: 1px;
}


.shiki{
    width: 300px;
    margin: 0 auto 32px;
}

.pre{
    width: 288px;
    float: left;
}
.late{
    width: 288px;
    float: left;
}

.contents{
    padding: 16px;
}

.spring{
    float: left;
    margin-top: 32px;
    width: 100px;
}
.summer{
    float: left;
    margin-top: 32px;
    width: 100px;
    margin-left: 80px;
}
.autumn{
    float: left;
    margin-top: 32px;
    width: 100px;
}
.winter{
    float: left;
    margin-top: 32px;
    width: 100px;
    margin-left: 80px;
}





@media screen and (min-width:480px) {
    /*モバイル(iPhone,Android)を傾けたときのCSSを記述する*/
    body{
/*        background: blue;*/
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    /*iPadのCSSを記述する*/

    body{
/*        background: yellow;*/
    }
}
@media screen and (min-width:1024px) {
    /*PC用のCSSを記述する*/
    .imageBox{
        width: 80%;
        height: 600px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
    }

    .imageBox img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }

    .container{
        padding-left: 132px;
        padding-right: 132px;
        padding-top: 32px;
    }


    .title__name{
        font-size: 3.6rem;
        font-weight: 400;
    }

    .random_tags_parent{
        font-size: 1.8rem;
        margin-top: 24px;
    }

    .title{
        float: left;
    }

    .sns{
        width: 340px;
        display: block;
        float: right;
    }

    .sns__item{
        width: 94px;
        margin-right: 16px;
    }


    .about p{
        font-size: 2.4rem;
        line-height: 48px;
        letter-spacing: 1px;
        margin-top: 32px;
    }

    .contents h2{
        font-size: 2.4rem;
        display: inline-block;
        border-left: none;
        border-right: #5ac8dc solid 3px;
    }
    .locationAndDate h2{
        text-align: right;
        padding-right: 32px;
        border-left: none;
        border-right: #e63c6e solid 3px;
    }

    .number h2{
        text-align: right;
        padding-right: 32px;
        border-left: none;
        border-right: #78c850 solid 3px;
    }

    .cost h2{
        text-align: right;
        padding-right: 32px;
        border-left: none;
        border-right: #fac81e solid 3px;
    }

    .schedule h2{
        display: block;
        width: 300px;
        margin: 0 auto;
        margin-top: 48px;
        text-align: center;
        border-right: none;
    }


    .line{
        display: block;
        width: 64px;
        height: 3px;
        border: 0;
        margin: 0 auto;
    }
    .blue {
        margin-top: 12px;
        margin-bottom: 32px;
        background-color: #5ac8dc;
    }


    .contents p{
        display: inline;
        font-size: 2.4rem;
        padding-top: 16px;
        padding-left: 32px;
    }
    .contentsBox{
        padding-left: 64px;
/*        border-top: 1px solid #a9a9a9;*/
/*        border-bottom: 1px solid #a9a9a9;*/
        padding-top: 16px;
        padding-bottom: 16px;
        margin-top: 0px;
    }

    .shiki{
        width: 800px;
    }

    .pre{
        width: 400px;
        float: left;
    }
    .late{
        width: 400px;
        float: left;
    }

    .shiki p{
        padding-left: 0px;
        font-size: 2.0rem;
    }
    .spring{
        margin-top: 32px;
        width: 100px;
        float: left;
        margin-left: 80px;
    }
    .summer{
        margin-top: 32px;
        width: 100px;
        float: left;
        margin-left: 80px;
    }
    .autumn{
        margin-top: 32px;
        width: 100px;
        float: left;
        margin-left: 44px;
    }
    .winter{
        margin-top: 32px;
        width: 100px;
        float: left;
        margin-left: 80px;
    }
    .shiki p{
        display: block;
        padding-left: 0px;
    }
}
